body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E8D6CB;
    margin-left: 35%;
    margin-top: 10%;
}

.container { 
    width: 100%; 
    margin-left: 50%;
     
    background-color: red ;
}


#funcionamento {
    font-style: italic;
}

.completed {
    text-decoration: line-through;
}

.selected {
    background-color: blanchedalmond;
}

.selectedTask {
    background-color: blanchedalmond;
}

footer {
    background-color: #AD6A6C;
    color: white;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    text-align: center;
}

